[Unit]
Description=DHT Prometheus Exporter
Documentation=https://github.com/guivin/dht-prometheus-exporter
After=network.target local-fs.target

[Service]
ExecStart=/usr/bin/dht-prometheus-exporter
User=dht-prometheus-exporter
Group=gpio
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dht-prometheus-exporter

[Install]
WantedBy=multi-user.target
